configuration {
  font:               "Hack Nerd Font 16";
  modi:               "run,calc";

  location:           6;
  yoffset:            -105;

  show-icons:         true;
  icon-theme:         "Papirus";
}

@import "theme.rasi"
