* {
  transition: none;
  box-shadow: none;
}

#waybar {
	font-family: 'Source Code Pro', sans-serif;
  font-size: 0.95em;
	font-weight: 400;
  color: #F1B0D8;
  background: #0E0D13;
}

#workspaces {
  margin: 0 2px;
}

#workspaces button {
  margin: 2px 0;
  padding: 0 3px;
  color: #F1B0D8;
}

#workspaces button.active {
  border-radius: 4px;
  background-color: #262335;
  border: 1px solid #DE49A4;
}

#workspaces button.urgent {
  background-color: #FF5555;
  color: #F8F8F2;
}

#tray {
  margin: 2px 2px 2px 2px;
  border-radius: 4px;
}

#tray * {
  padding: 0 4px;
}

#tray *:first-child {
  border-left: none;
}

#clock, #custom-ram, #custom-cpu, #custom-gpu, #custom-backlight, #custom-volume, #custom-battery {
  margin: 2px 1px;
  padding: 0 4px;
  border-radius: 4px;
  min-width: 16px;
}

#clock {
  margin-left: 0px;
  margin-right: 2px;
  background-color: transparent;
}

#window {
  font-size: 0.9em;
	font-weight: 400;
	font-family: sans-serif;
}

