/*/
/*

#region Weird things to store my vscode config without storing all vscode stuff
!Code/
Code/*
!Code/User/
Code/User/*
!Code/User/settings.json
!Code/User/keybindings.json
#endregion

#region Same stuff for vscodium
!VSCodium/
VSCodium/*
!VSCodium/User/
VSCodium/User/*
!VSCodium/User/settings.json
!VSCodium/User/keybindings.json
#endregion

!gtk-3.0/
gtk-3.0/*
!gtk-3.0/settings.ini

!.gitignore
!user-dirs.dirs

!alacritty/
!dunst/
!i3/
!ideavim/
!mpv/
!rofi/
!systemd/
!zsh/
!metaprint/
!tmux/
!visidata/

!nvim/
nvim/plugin

/systemd/systemd/user/default.target.wants/

!gitignore
!wall.png

.direnv/

zsh/scripts/comic.ttf

!wallpapers
