/*/
/*

!.gitignore
!user-dirs.dirs

!dunst/
!i3/
!ideavim/
!mpv/
!rofi/
!systemd/
!zsh/
!metaprint/
!tmux/
!visidata/

!nvim/
nvim/plugin

/systemd/systemd/user/default.target.wants/

!gitignore
!wall.png
